:root{
    --primary-color: #212529;
    --secondary-color: #0000ff;
    --tertiary-color: #212529;
    --quaternary-color: #fafafa;
}


.firstContainer{
    margin-top: 15vh;
    text-align: center;
}

.userPhoto_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}